.about {
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  
  background: #232531;
}

.projects {
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 100%;
}
